#!/usr/bin/env bash

set -o pipefail -eux

PASSWORD="${1}"

generate () {
    NAME="${1}"
    SUBJECT="${2}"
    KEY="${3}"
    CA_NAME="${4}"
    CA_OPTIONS=("-CA" "${CA_NAME}.pem" "-CAkey" "${CA_NAME}.key" "-CAcreateserial")

    cat > openssl.conf << EOL
distinguished_name = req_distinguished_name

[req_distinguished_name]

[req]
basicConstraints = CA:FALSE
keyUsage = digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = DNS:${SUBJECT}
EOL

    echo "Generating ${NAME} signed cert"
    openssl req \
        -new \
        "-${KEY}" \
        -subj "/CN=${SUBJECT}" \
        -newkey rsa:2048 \
        -keyout "${NAME}.key" \
        -out "${NAME}.csr" \
        -config openssl.conf \
        -reqexts req \
        -passin pass:"${PASSWORD}" \
        -passout pass:"${PASSWORD}"

    openssl x509 \
        -req \
        -in "${NAME}.csr" \
        "-${KEY}" \
        -out "${NAME}.pem" \
        -days 365 \
        -extfile openssl.conf \
        -extensions req \
        -passin pass:"${PASSWORD}" \
        ${CA_OPTIONS[@]}

    openssl pkcs12 \
        -export \
        -out "${NAME}.pfx" \
        -inkey "${NAME}.key" \
        -in "${NAME}.pem" \
        -passin pass:"${PASSWORD}" \
        -passout pass:"${PASSWORD}"

    rm openssl.conf
}

echo "Generating CA certificate"
openssl genrsa \
    -aes256 \
    -out ca.key \
    -passout pass:"${PASSWORD}"

openssl req \
    -new \
    -x509 \
    -days 365 \
    -key ca.key \
    -out ca.pem \
    -subj "/CN=PSOpenAD Root" \
    -passin pass:"${PASSWORD}"

echo "Generating DC01 LDAPS certificate"
{% for host in ["DC01", "DC02", "DC03"] %}
generate {{ host | lower }} {{ hostvars[host]["domain_prefix"] | default("") }}{{ domain_name }} sha256 ca
{% endfor %}

touch complete.txt
